@using SeriesMoviesProjectver2.Models.Entity
@model List<Tbl_Series>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<body>
    <form>

        <table class="table table-bordered" width="100%">

            <tr>
                <th>DİZİ</th>
                <th>YÖNETMEN</th>
                <th>AÇIKLAMA</th>
                <th>IMDB</th>
                <th>IMAGE</th>
                <th>KATEGORİ</th>
            </tr>
            @foreach (var series in Model)
            {
                <tr>
                    <td>@series.SeriesName</td>
                    <td>@series.Director</td>
                    <td>@series.Description</td>
                    <td>@series.IMDB</td>
                    <td><img src="@series.Image" width="300px"></td>
                    <td>@series.Tbl_Category.CategoryName</td>
                </tr>
            }

        </table>

       

    </form>


</body>

